.Watch {
  height: 100%;
}

.watchContent {
  height: 70vh;
  width: 80vw;
  margin: 15vh auto 0;
  display: flex;
}

.watchContent .Option {
  width: 50%;
  height: 100%;
  display: flex;
  background: #eeca1c;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.optionWrapper {
  width: 60%;
  margin: 0 auto;
}

.img {
  width: 50%;
}
.Option h4 {
  text-transform: uppercase;
}

.Option h3 {
  font-weight: 400;
}

.Option ul {
  list-style: none;
  padding: 0;
}

.Option ul li {
  color: #aaaaaa;
  margin: 2vh 0;
}

.quantity {
  width: 200px;
  display: flex;
  border: 1px solid #fff;
  padding: 1vh 0;
  border-radius: 35px;
}

.quantity span {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

#cart {
  background: #000;
  color: #fff;
  width: 60%;
  padding: 1.5vh 0;
  text-align: center;
  cursor: pointer;
}

#cart:hover {
  background: #fff;
  color: #000;
}
@media only screen and (max-width: 992px) {
  .watchContent {
    flex-direction: column;
    height: 100%;
  }
  .img {
    width: 80%;
    height: 70vh;
    margin: 0 auto;
  }
  .watchContent .Option {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .Option ul li {
    color: #fff;
  }

  .quantity {
    margin: 0 auto;
  }
  #cart {
    margin: 4vh auto;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
}
